<div class="row">
    <div class="col-sm-4">

        <form id="myForm" action="http://138.197.29.120:8080/chat" method="post">
            <div class="form-group">

                <label>Задайте вопрос:</label>
                <input type="text" style='width:100%;' name="question" />

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
<div class="col-sm-6">
    Ответ:
    <p id="answer"></p>

</div>
<div class="col-sm-2">

</div>
</div>