
  {{ partial "header.html" . }}
  <div class="row">
    <div class="col-sm-9">

      <header class="title"><h1>{{ .Title }}</h1></header>

      <div class="articles">
        <div class="row">
          {{ range (.Paginate .Data.Pages).Pages }}
          <div class="col-sm-4">
            {{ .Render "li" }}
          </div>
          {{ end }}
        </div>
      </div>



    </div>


  </div>
  {{ partial "footer.html" . }}
