<article class="li">
  <a href="{{ .Permalink }}" class="clearfix">
    

      <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      <h2 class="title">{{ .Title }}</h2>
      <div class="summary">{{slicestr .Summary 0 200 }}...</div>
    
  </a>
</article>
