<footer class="site">

-----------------
    <p>&copy; {{ .Site.LastChange.Year }} <a href="http://mazurov.eu">{{ .Site.Params.Author }} Alk.1.98 EUR</a></p>
    


</footer>

</div>
</div>
</div>


{{ template "_internal/google_analytics_async.html" . }}



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
    crossorigin="anonymous"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
    crossorigin="anonymous"></script>-->
    <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>

    <script> 
        // wait for the DOM to be loaded 
$(document).ready(function() { 
    // bind form using ajaxForm 
    $('#myForm').ajaxForm({ 
        // dataType identifies the expected content type of the server response 
        dataType:  'json', 
 
        // success identifies the function to invoke when the server response 
        // has been received 
        success:   processJson 
    }); 

  
});


  function processJson(data) { 
    // 'data' is the json object returned from the server
    console.log(data) 
    // alert(data.message); 
    $('#answer').text(data.answer);
}
    </script> 

</body>

</html>